.header-section {
  height: 100px;
  width: 100%;
  background-color: #cbe6f0;
}

.body-section {
  height: auto;
  width: 100%;
  padding: 55px;
}

#usb {
  max-width: 50%;
}

#notebook {
  max-width: 50%;
}

#table {
  max-width: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #a4dff5;
  overflow-x: hidden;
}

h1 {
  font-weight: lighter;
  font-size: 38px;
  margin-left: 20px;
  float: left;
  margin: 25px 40px;
}

.submitButton {
  padding: 12px 30px;
  border: 1px #000000;
  background-color: #fff;
  font-size: 19px;
  font-weight: lighter;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  float: right;
  margin: 30px 40px;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #96fc96;
}

.form-div {
  margin-top: 50px;
  display: none;
}

.form-div h2 {
  margin-top: 20px;
}

#input1 {
  display: block;
  padding: 5px 20px;
  font-size: 18px;
  margin-left: 90px;
  margin-top: -30px;
  font-weight: 50;
  letter-spacing: 0.25em;
}

#input2 {
  display: block;
  padding: 5px 20px;
  font-size: 18px;
  margin-left: 90px;
  margin-top: -30px;
  font-weight: 50;
  letter-spacing: 0.25em;
}

#input3 {
  display: block;
  padding: 5px 20px;
  font-size: 18px;
  margin-left: 90px;
  margin-top: -30px;
  font-weight: 50;
  letter-spacing: 0.25em;
}

#input4 {
  display: block;
  padding: 5px 20px;
  font-size: 15px;
  margin-left: 170px;
  margin-top: -30px;
  font-weight: 50;
  letter-spacing: 0.25em;
}

select {
  font-size: 17px;
}

#usb input, #table input, #notebook input {
  padding: 5px 10px;
  letter-spacing: 0.10em;
}

#usb p, #table p, #notebook p {
  margin-top: 10px;
}
/*# sourceMappingURL=add_styles.css.map */