@import 'sections.scss';
@import 'forms.scss';

// This is my first try using SASS and please forgive me my mistakes...

$buttonColor : #000;
$buttonFontSize : 19px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color : rgb(164, 223, 245);
    overflow-x: hidden;
}

h1 {
    font-weight: lighter;
    font-size: 38px;
    margin-left: 20px;
    float: left;
    margin: 25px 40px;
}

.submitButton {
    padding: 12px 30px;
    border: 1px #000000;
    background-color: #fff;
    font-size: $buttonFontSize;
    font-weight: lighter;
    display: inline-flex;
    position: relative;
    float: right;
    margin: 30px 40px;
    transition: 0.5s background-color;
}

.submitButton:hover {
    cursor: pointer;
    background-color: rgb(150, 252, 150);
}

.form-div {
    margin-top: 50px;
    display: none;
    h2 {
        margin-top: 20px;
    }
}

#input1 {
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    margin-left: 90px;
    margin-top: -30px;
    font-weight: 50;
    letter-spacing: 0.25em;
}

#input2 {
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    margin-left: 90px;
    margin-top: -30px;
    font-weight: 50;
    letter-spacing: 0.25em;
}

#input3 {
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    margin-left: 90px;
    margin-top: -30px;
    font-weight: 50;
    letter-spacing: 0.25em;
}

#input4 {
    display: block;
    padding: 5px 20px;
    font-size: 15px;
    margin-left: 170px;
    margin-top: -30px;
    font-weight: 50;
    letter-spacing: 0.25em;
}

select {
    font-size: 17px;
}

#usb, #table, #notebook {
    input {
        padding: 5px 10px;
        letter-spacing: 0.10em;
    }

    p {
        margin-top: 10px;
    }
}