@import 'sections.scss';

$buttonColor : #000;
$buttonFontSize : 19px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color : rgb(164, 223, 245);
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-weight: lighter;
    font-size: 38px;
    margin-left: 20px;
    float: left;
    margin: 25px 40px;
}

#deleteAction {
    float: right;
    margin-top: 40px;
    font-size: 18px;
}

.submitButton {
    padding: 12px 30px;
    border: 1px #000000;
    background-color: #fff;
    font-size: $buttonFontSize;
    font-weight: lighter;
    display: inline-flex;
    position: relative;
    float: right;
    margin: 30px 40px;
    transition: 0.5s background-color;
}

.submitButton:hover {
    cursor: pointer;
    background-color: rgb(150, 252, 150);
}

.card {
    width: 23%;
    height: 220px;
    background-color: #fff;
    margin-left: 25px;
    margin-top: 10px;
    float: left;

    h3 {
        text-align: center;
        padding-top: 15px;
    }

    #checkBox {
        margin-left: 15px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        width: 100%;
    }
}