.header-section {
  height: 100px;
  width: 100%;
  background-color: #cbe6f0;
}

.body-section {
  height: auto;
  width: 100%;
  padding: 55px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #a4dff5;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: lighter;
  font-size: 38px;
  margin-left: 20px;
  float: left;
  margin: 25px 40px;
}

#deleteAction {
  float: right;
  margin-top: 40px;
  font-size: 18px;
}

.submitButton {
  padding: 12px 30px;
  border: 1px #000000;
  background-color: #fff;
  font-size: 19px;
  font-weight: lighter;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  float: right;
  margin: 30px 40px;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #96fc96;
}

.card {
  width: 20%;
  height: 220px;
  background-color: #fff;
  margin-left: 3.4%;
  margin-top: 10px;
  float: left;
}

.card h3 {
  text-align: center;
  padding-top: 14px;
}

.card #checkBox {
  margin-left: 15px;
  margin-top: 15px;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
}
/*# sourceMappingURL=list_styles.css.map */
